$animation-scale-up: var(--animation-scale-up);
$animation-fade-in: var(--animation-fade-in);
$color-black: var(--color-black);
$color-blue: var(--color-blue);
$color-charcoal: var(--color-charcoal);
$color-green: var(--color-green);
$color-grey: var(--color-grey);
$color-orange: var(--color-orange);
$color-purple: var(--color-purple);
$color-red: var(--color-red);
$color-silver: var(--color-silver);
$color-white: var(--color-white);
$color-yellow: var(--color-yellow);
$duration-150: var(--duration-150);
$duration-250: var(--duration-250);
$duration-300: var(--duration-300);
$duration-500: var(--duration-500);
$easing-ease-in: var(--easing-ease-in);
$easing-ease-out: var(--easing-ease-out);
$easing-ease-out-quart: var(--easing-ease-out-quart);
$easing-linear: var(--easing-linear);
$font-mono: var(--font-mono);
$font-sans: var(--font-sans);
$font-serif: var(--font-serif);
$font-size-h6: var(--font-size-h6);
$font-size-h5: var(--font-size-h5);
$font-size-h4: var(--font-size-h4);
$font-size-h3: var(--font-size-h3);
$font-size-h2: var(--font-size-h2);
$font-size-h1: var(--font-size-h1);
$font-size-xs: var(--font-size-xs);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-lg: var(--font-size-lg);
$font-size-xl: var(--font-size-xl);
$line-height-body: var(--line-height-body);
$line-height-title: var(--line-height-title);
$line-height-element: var(--line-height-element);
$opacity-0: var(--opacity-0);
$opacity-5: var(--opacity-5);
$opacity-50: var(--opacity-50);
$opacity-75: var(--opacity-75);
$opacity-100: var(--opacity-100);
$radius-sm: var(--radius-sm);
$radius-md: var(--radius-md);
$radius-lg: var(--radius-lg);
$radius-half: var(--radius-half);
$radius-full: var(--radius-full);
$shadow-normal: var(--shadow-normal);
$shadow-glow: var(--shadow-glow);
$size-xs: var(--size-xs);
$size-sm: var(--size-sm);
$size-md: var(--size-md);
$size-lg: var(--size-lg);
$size-xl: var(--size-xl);
$z-index-behind: var(--z-index-behind);
$z-index-base: var(--z-index-base);
$z-index-dropdown: var(--z-index-dropdown);
$z-index-sticky: var(--z-index-sticky);
$z-index-fixed: var(--z-index-fixed);
$z-index-overlay: var(--z-index-overlay);
$z-index-tooltip: var(--z-index-tooltip);
$z-index-popover: var(--z-index-popover);
$z-index-toast: var(--z-index-toast);
$z-index-modal: var(--z-index-modal);
$breakpoint-xs: var(--breakpoint-xs);
$breakpoint-sm: var(--breakpoint-sm);
$breakpoint-md: var(--breakpoint-md);
$breakpoint-lg: var(--breakpoint-lg);
$breakpoint-xl: var(--breakpoint-xl);

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-tertiary: var(--color-tertiary);
$color-ancillary: var(--color-ancillary);
$color-complementary: var(--color-complementary);
$color-accent: var(--color-accent);
$color-background: var(--color-background);
$color-text: var(--color-text);
$color-danger: var(--color-danger);
$color-success: var(--color-success);
$color-focus: var(--color-focus);
